.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("/public/images/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarImage {
    margin-left: 10%;
    height: 40px;
    width: 50px;
    cursor: pointer;
}

.body {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formDiv {
    padding: 1%;
    height: fit-content;
    width: 25em;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 15px;
    box-shadow: -3px 2px 7px 0 grey;
}

.title{
    text-align: center;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

label{
    color: #000;
    font-size: 0.8em;
}

.input {
    padding: 1%;
    height: 2.1em;
    border-radius: 8px;
    outline: 0;
}

.formHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.submit {
    width: 100%;
    height: 2.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #73ADD5;
    font-size: 1em;
    font-weight: 500;
}