.container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox{
    height: fit-content;
    width: 60%;
    background-color: #FFF;
    border-radius: 10px;
}

.header{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F0F0F0; */
}

.crossBtn{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.modalContent{
    padding: 1%;
}