.container{
    height: 100%;
    width: 100%;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid #000; */
}

.sideNavLink{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border-bottom: #000 solid 1px;
}

.sideNavLink:hover{
    background-color: #62A0CF;
}

.sideNavLink:last-child{
    border-top: 1px solid #000;
    margin-top: auto;
}

.link{
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: 400;
}

.active{
    background-color: #62A0CF;
}
