.container{
    width: 100%;
    height: 90%;
}

.searchDiv{
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.searchBox{
    padding: 0.5%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.addButtonDiv{
    padding: 0.5%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addButton{
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #8ABAE0;
    border: none;
    cursor: pointer;
}

.searchInput{
    width: 50%;
    padding: 0.5%;
}

.searchButton{
    padding: 0.6%;
    border: 0;
    background-color: #8ABAE0;
    cursor: pointer;
}

.stocks{
    padding: 1%;
    padding-top: 0;
}

.pagination{
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e8e9e8;
}

.active{
    background-color: #A9A9A9;
}

.alphabetsDiv{
    padding: 0.3%;
    width: 3.8%;
    border-right: 1px solid #000;
}

.alphabetsDiv:last-child{
    border: none;
}

.alphabetsDiv:hover{
    cursor: pointer;
}

.alphabets{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

.stockCards{
    padding: 0.8%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow: auto;
}

.stockCard{
    width: 23%;
    height: 10%;
    padding: 0.4%;
    background-color: #e8e9e8;
    border-radius: 8px;
}

.stockName{
    font-size: 1.5rem;
    font-weight: 400;
}

.stockText{
    font-weight: 400;
}

.stockButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
}

.stockButton{
    border: none;
    padding: 2%;
    background-color: #8ABAE0;
    cursor: pointer;
}

.reStockForm{
    display: flex;
    gap: 3px;
}

.stockForm{
    margin-top: 3%;
    display: flex;
    align-items: center;
}
